.gradient-hover-effect {
  display: flex;
  padding: 0.875em 2em;
  background: linear-gradient(90deg, #fd2f0f, transparent) #f4b109;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}
.gradient-hover-effect:hover,
.gradient-hover-effect:focus {
  background-color: #a20d3f;
  color: #fff;
}
.price {
  font-size: 1.7em;
  margin-right: 5px;
}
.ammount {
  margin-left: 60px;
  font-size: 1.2em;
  margin-right: 5px;
}
.card-text{
  /* min-height: 30px; */
    height: 170px;
    overflow-y: hidden;
}
.card{
    height: 670px;
}
.pricing-sec{
    margin-top: 10px;
    display: block;
    bottom: 20px;
}
